header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #797be7;
    color: rgb(168, 195, 240);
    border-bottom: 2px solid #6d34be;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #403456;
    margin: 0;
}

