body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #cbd5fc, #8e90f1);
  }
  
.Cartelera {
  border: 2px solid #bf95ed;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
  background-image: linear-gradient(
      rgba(139, 129, 232, 0.9),
      rgba(36, 36, 62, 0.9)
    );
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 300px;
  box-shadow: 0px 4px 10px rgba(234, 182, 255, 0.5);
  font-family: 'Comic Neue', cursive;
  transition: transform 0.3s ease;
  }
  .Cartelera:hover {
    transform: scale(1.02);
  }
  
  .Cartelera h1 {
    color: #d4bde1;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  
  .Cartelera img {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(255, 206, 0, 0.4);
  }
  
  .Cartelera button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #e3cc72;
    color: #1c1c1c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .Cartelera button:hover {
    background-color: #edd575;
  }
  
@media (max-width: 600px) {
  .Cartelera {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url('https://image.tmdb.org/t/p/original/mobile_background.jpg');
    background-size: cover;
  }
}
