.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.contenedor-cargar-mas {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
}

.contenedor-cargar-mas button {
    width: 90%;
    max-width: 400px;
    padding: 12px 20px;
    font-size: 1.1rem;
    background-color: #edc66a;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contenedor-cargar-mas button:hover {
    background-color: #efc63f;
}